<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Cálculo CDB</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>API Cálculo CDB</h1>
        <img src="content/Imagens/logo_b3.png" alt="Logo B3" />
    </header>
    <main>
        
    </main>
    <footer>
        <p>&copy; 2024 API Cálculo CDB. Carlos Felipe Queiroz</p>
    </footer>
</body>
</html>
